server:
  port: ${SERVER_PORT:8080}

spring:
  sql: #
    init: #
    #  mode: always #
  output:
    ansi:
      enabled: ALWAYS
  jpa:
    # defer-datasource-initialization: true #
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        #org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: ${HIBERNATE_DDL_AUTO:create-drop} #create-drop #mandar para deploy mandar com UPDATE
      show-sql: true
  datasource:
    platform: postgres
    url: ${POSTGRES_URL:jdbc:postgresql://ec2-52-212-228-71.eu-west-1.compute.amazonaws.com:5432/d32jsq0d9qne7c}
    username: ${POSTGRES_USER:cebjfzqlyhjxyb}
    password: ${POSTGRES_PASSWORD:cc314e79ba42655459e1ff86dc197afe13661b6134c237d6c7ce0ab29a2f78e1}
    driverClassName: org.postgresql.Driver